<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJs condition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if='show'>You can see me!</p>
        <p v-else>Now you see me</p>
        <template v-if='show'>
            <h1>My Heading</h1>
            <p>Inside a template</p>
        </template>
        <p v-show='show'>Do you also see me</p>
        <button @click='show = !show'>Switch</button>
    </div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            show: true
        },
        computed: {
        },
        methods: {
        }
    });
</script>
<style>
    
</style>

</html>